@import '_colors.scss';
@import '_variables.scss';
@import '_ease.scss';

$colors: (
  red: $color-red,
  blue: $color-blue,
  amber: $color-amber,
  teal: $color-teal,
  cyan: $color-cyan,
  white: $color-white,
  black: $color-black,
  primary: $color-primary,
  green: $color-green,
  success: $color-green,
  transparent: $color-transparent,
);
