<div class="block-header sticky">
  <h2> Typography
    <small>All related typography examples</small>
  </h2>
</div>

<mat-card class="typography-example">
  <mat-card-header>
    <mat-card-title>
      <h2> HEADLINE STYLE </h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="typography-example">
    <div class="example-wrapper">
      <section class="example">
        <h2 class="subheader">Bold</h2>
        <div class="example-content">
          <h1 class="bold">Headline 1</h1>
        </div>
        <div class="example-content">
          <h2 class="bold">Headline 2</h2>
        </div>
        <div class="example-content">
          <h3 class="bold">Headline 3</h3>
        </div>
        <div class="example-content">
          <h4 class="bold">Headline 4</h4>
        </div>
        <div class="example-content">
          <h5 class="bold">Headline 5</h5>
        </div>
        <div class="example-content">
          <h6 class="bold">Headline 6</h6>
        </div>
      </section>
      <section class="example">
        <h2 class="subheader">Default</h2>
        <div class="example-content">
          <h1>Headline 1</h1>
        </div>
        <div class="example-content">
          <h2>Headline 2</h2>
        </div>
        <div class="example-content">
          <h3>Headline 3</h3>
        </div>
        <div class="example-content">
          <h4>Headline 4</h4>
        </div>
        <div class="example-content">
          <h5>Headline 5</h5>
        </div>
        <div class="example-content">
          <h6>Headline 6</h6>
        </div>
      </section>
      <section class="example">
        <h2 class="subheader">Light</h2>
        <div class="example-content">
          <h1 class="light">Headline 1</h1>
        </div>
        <div class="example-content">
          <h2 class="light">Headline 2</h2>
        </div>
        <div class="example-content">
          <h3 class="light">Headline 3</h3>
        </div>
        <div class="example-content">
          <h4 class="light">Headline 4</h4>
        </div>
        <div class="example-content">
          <h5 class="light">Headline 5</h5>
        </div>
        <div class="example-content">
          <h6 class="light">Headline 6</h6>
        </div>
      </section>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2> BODY TEXT </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="typography-example">
    <div class="example-wrapper">
      <section class="example">
        <h2 class="subheader">Italic Text</h2>
        <em>
          Make the purple more well, purple-er. Try a more powerful colour, it needs to be the same, but totally
          different.
        </em>
        <h2 class="subheader">Marked Text</h2>
        <p>
          Lorem ipsum dolor sit amet, <mark>consectetur adipiscing elit</mark>, sed do eiusmod tempor incididunt ut
          labore et <mark>dolore magna</mark> aliqua.
        </p>
        <h2 class="subheader">Deleted Text</h2>
        <p>
          Lorem ipsum dolor sit amet, <del>consectetur adipiscing elit</del>, sed do eiusmod tempor incididunt ut
          labore et <del>dolore magna</del> aliqua.
        </p>
        <h2 class="subheader">Abbreviations Text</h2>
        <p>
          Lorem ipsum dolor sit amet, <abbr title="sit amet">consectetur adipiscing elit</abbr>,
          sed do eiusmod tempor incididunt ut labore et <abbr title="tempor incididunt ut labore">dolore magna</abbr>
          aliqua.
        </p>
      </section>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2> BLOCK QUOTES </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="typography-example">
    <div class="example-wrapper">
      <section class="example">
        <p>Default blockquote example</p>
        <blockquote>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          </div>
        </blockquote>
        <p class="m-t-40">Block with subtitle example</p>
        <blockquote>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          </div>
          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <p class="m-t-40 text-right">Opposite direction blockquote</p>
        <blockquote class="reverse">
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          </div>
          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </section>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2> LIST </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="typography-example">
    <div class="grid split-2 gap-10 column-20-80 column-s-1">
      <tf-list-tree [list]="treeList"></tf-list-tree>
      <div class="h-p-100">
        <tf-list-tree
          [list]="horizontalList"
          [binary]="true"
        ></tf-list-tree>
      </div>
    </div>
  </mat-card-content>
</mat-card>
